.itemContainer{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.listItem{
    display: flex;
    flex-direction: column;
}

.listItemLink{
    text-decoration: none;
    color: whitesmoke;
}

.listItemAuthor{
    color: gray;
}